//------------------------------------------------------------------------------------------------
//
//  margin
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  top
//--------------------------------------------------------------------
.u-mt_0{ margin-top: 0px !important; }
.u-mt_5{ margin-top: 5px !important; }
.u-mt_10{ margin-top: 10px !important; }
.u-mt_15{ margin-top: 15px !important; }
.u-mt_20{ margin-top: 20px !important; }
.u-mt_25{ margin-top: 25px !important; }
.u-mt_30{ margin-top: 30px !important; }
.u-mt_35{ margin-top: 35px !important; }
.u-mt_40{ margin-top: 40px !important; }
.u-mt_45{ margin-top: 45px !important; }
.u-mt_50{ margin-top: 50px !important; }
.u-mt_60{ margin-top: 60px !important; }
.u-mt_70{ margin-top: 70px !important; }
.u-mt_80{ margin-top: 80px !important; }
.u-mt_90{ margin-top: 90px !important; }

//--------------------------------------------------------------------
//  bottom
//--------------------------------------------------------------------
.u-mb_0{ margin-bottom: 0px !important; }
.u-mb_5{ margin-bottom: 5px !important; }
.u-mb_10{ margin-bottom: 10px !important; }
.u-mb_15{ margin-bottom: 15px !important; }
.u-mb_20{ margin-bottom: 20px !important; }
.u-mb_25{ margin-bottom: 25px !important; }
.u-mb_30{ margin-bottom: 30px !important; }
.u-mb_35{ margin-bottom: 35px !important; }
.u-mb_40{ margin-bottom: 40px !important; }
.u-mb_45{ margin-bottom: 45px !important; }
.u-mb_50{ margin-bottom: 50px !important; }
.u-mb_60{ margin-bottom: 60px !important; }
.u-mb_70{ margin-bottom: 70px !important; }
.u-mb_80{ margin-bottom: 80px !important; }
.u-mb_90{ margin-bottom: 90px !important; }