@import "compass";
@import "reset";

$imgPath: "img";

$default-textSize: 12px;

$default-linkColor: #fff;
$default-visitedColor: #fff;
$default-activeColor: #fff;

$wrapper-width: 1000px;

@import "common";

/*----------------------------------------------------------------------------------

    トップページ

----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------

    下層共通

----------------------------------------------------------------------------------*/