# システムごとの不要ファイル
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log

# 言語ごとのパッケージディレクトリ
node_modules/
vendor/

# ビルド後のファイルを無視
public/

**/font/font-preview.html
**/object/component/_icon.scss

# sprite用の生成scssを除外
sass/setup/_sprites.scss
