# システムごとの不要ファイル
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log

# 言語ごとのパッケージディレクトリ
node_modules/
vendor/

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ビルド後のファイルを無視
public/

**/font/font-preview.html
