//------------------------------------------------------------------------------------------------
//
//  文章スタイルを有効化する
//
//------------------------------------------------------------------------------------------------
.u-enable-text-style{

    h1{
        font-weight: bold;
        margin: 0.67rem 0;
    }

    h2{
        font-weight: bold;
        margin: 0.83rem 0;
    }

    h3{
        font-weight: bold;
        margin: 1rem 0;
    }

    h4{
        font-weight: bold;
        margin: 1.33rem 0;
    }

    h5{
        font-weight: bold;
        margin: 1.67rem 0;
    }

    h6{
        font-weight: bold;
        margin: 2.33rem 0;
    }

    ul{
        list-style: disc inside;
        margin: .8rem;

        ul {
            list-style: circle inside;
            margin: .8rem;
        }
    }

    ol{
        list-style: decimal inside;
        margin: .8rem;
    }

    blockquote{
        border-left: 5px solid #8f8781;
        margin: 1rem 0;
        padding: 0.9rem 20px;

        > p{
            margin-bottom: 0.8rem;
        }

        > small{
            display: block;
            color: #999;
        }
    }
}
