//------------------------------------------------------------------------------------------------
//
//  グリッドレイアウト用
//
//------------------------------------------------------------------------------------------------
@mixin pure-grids-core{
    //csslint regex-selectors:false, known-properties:false, duplicate-properties:false*/

    .pure-g {
        letter-spacing: -0.31em; // Webkit: collapse white-space between units */
        *letter-spacing: normal; // reset IE < 8 */
        *word-spacing: -0.43em; // IE < 8: collapse white-space between units */
        text-rendering: optimizespeed; // Webkit: fixes text-rendering: optimizeLegibility */

        //
        // Sets the font stack to fonts known to work properly with the above letter
        // and word spacings. See: https://github.com/yui/pure/issues/41/
        //
        // The following font stack makes Pure Grids work on all known environments.
        //
        // FreeSans: Ships with many Linux distros, including Ubuntu
        //
        // Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
        // Arial to get picked up by the browser, even though neither is available
        // in Chrome OS.
        
        // Droid Sans: Ships with all versions of Android.
        //
        // Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
        
        font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;

        //
        // Use flexbox when possible to avoid `letter-spacing` side-effects.
        // 
        // NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
        // `-moz-` prefix version is omitted.
        //
        
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;

        // IE10 uses display: flexbox */
        display: -ms-flexbox;
        -ms-flex-flow: row wrap;
    }

    // Opera as of 12 on Windows needs word-spacing.
    //   The ".opera-only" selector is used to prevent actual prefocus styling
    //   and is not required in markup.
    //
    .opera-only :-o-prefocus,
    .pure-g {
        word-spacing: -0.43em;
    }

    .pure-u {
        display: inline-block;
        *display: inline; // IE < 8: fake inline-block */
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    //
    // Resets the font family back to the OS/browser's default sans-serif font,
    // this the same font stack that Normalize.css sets for the `body`.
    //
    .pure-g [class *= "pure-u"] {
        font-family: sans-serif;
    }

}

@mixin pure-grids{
    
    .pure-g {
        letter-spacing: -0.31em;
        *letter-spacing: normal;
        *word-spacing: -0.43em;
        text-rendering: optimizespeed;
    }

    .opera-only :-o-prefocus,
    .pure-g {
        word-spacing: -0.43em;
    }


    .pure-u {
        display: inline-block;
        zoom: 1; *display: inline;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }


    .pure-u-1,.pure-u-1-2,.pure-u-1-3,.pure-u-2-3,.pure-u-1-4,.pure-u-3-4,.pure-u-1-5,.pure-u-2-5,.pure-u-3-5,.pure-u-4-5,.pure-u-1-6,.pure-u-5-6,.pure-u-1-7,.pure-u-2-7,.pure-u-3-7,.pure-u-4-7,.pure-u-5-7,.pure-u-6-7,.pure-u-1-8,.pure-u-3-8,.pure-u-5-8,.pure-u-7-8,.pure-u-1-9,.pure-u-2-9,.pure-u-4-9,.pure-u-5-9,.pure-u-6-9,.pure-u-7-9,.pure-u-8-9,.pure-u-1-10,.pure-u-3-10,.pure-u-7-10,.pure-u-9-10,.pure-u-1-11,.pure-u-2-11,.pure-u-3-11,.pure-u-4-11,.pure-u-5-11,.pure-u-6-11,.pure-u-7-11,.pure-u-8-11,.pure-u-9-11,.pure-u-10-11,.pure-u-1-12,.pure-u-5-12,.pure-u-7-12,.pure-u-9-12,.pure-u-11-12,.pure-u-1-13,.pure-u-2-13,.pure-u-3-13,.pure-u-4-13,.pure-u-5-13,.pure-u-6-13,.pure-u-7-13,.pure-u-8-13,.pure-u-9-13,.pure-u-10-13,.pure-u-11-13,.pure-u-12-13,.pure-u-1-14,.pure-u-3-14,.pure-u-5-14,.pure-u-9-14,.pure-u-11-14,.pure-u-13-14,.pure-u-1-15,.pure-u-2-15,.pure-u-4-15,.pure-u-6-15,.pure-u-7-15,.pure-u-8-15,.pure-u-9-15,.pure-u-10-15,.pure-u-11-15,.pure-u-12-15,.pure-u-13-15,.pure-u-14-15,.pure-u-1-16,.pure-u-3-16,.pure-u-5-16,.pure-u-7-16,.pure-u-9-16,.pure-u-11-16,.pure-u-13-16,.pure-u-15-16,.pure-u-1-17,.pure-u-2-17,.pure-u-3-17,.pure-u-4-17,.pure-u-5-17,.pure-u-6-17,.pure-u-7-17,.pure-u-8-17,.pure-u-9-17,.pure-u-10-17,.pure-u-11-17,.pure-u-12-17,.pure-u-13-17,.pure-u-14-17,.pure-u-15-17,.pure-u-16-17,.pure-u-1-18,.pure-u-5-18,.pure-u-7-18,.pure-u-11-18,.pure-u-13-18,.pure-u-15-18,.pure-u-17-18,.pure-u-1-19,.pure-u-2-19,.pure-u-3-19,.pure-u-4-19,.pure-u-5-19,.pure-u-6-19,.pure-u-7-19,.pure-u-8-19,.pure-u-9-19,.pure-u-10-19,.pure-u-11-19,.pure-u-12-19,.pure-u-13-19,.pure-u-14-19,.pure-u-15-19,.pure-u-16-19,.pure-u-17-19,.pure-u-18-19,.pure-u-1-20,.pure-u-3-20,.pure-u-7-20,.pure-u-9-20,.pure-u-11-20,.pure-u-13-20,.pure-u-15-20,.pure-u-17-20,.pure-u-19-20,.pure-u-1-21,.pure-u-2-21,.pure-u-4-21,.pure-u-5-21,.pure-u-6-21,.pure-u-8-21,.pure-u-9-21,.pure-u-10-21,.pure-u-11-21,.pure-u-12-21,.pure-u-13-21,.pure-u-14-21,.pure-u-15-21,.pure-u-16-21,.pure-u-17-21,.pure-u-18-21,.pure-u-19-21,.pure-u-20-21,.pure-u-1-22,.pure-u-3-22,.pure-u-5-22,.pure-u-7-22,.pure-u-9-22,.pure-u-13-22,.pure-u-15-22,.pure-u-17-22,.pure-u-19-22,.pure-u-21-22,.pure-u-1-23,.pure-u-2-23,.pure-u-3-23,.pure-u-4-23,.pure-u-5-23,.pure-u-6-23,.pure-u-7-23,.pure-u-8-23,.pure-u-9-23,.pure-u-10-23,.pure-u-11-23,.pure-u-12-23,.pure-u-13-23,.pure-u-14-23,.pure-u-15-23,.pure-u-16-23,.pure-u-17-23,.pure-u-18-23,.pure-u-19-23,.pure-u-20-23,.pure-u-21-23,.pure-u-22-23,.pure-u-1-24,.pure-u-5-24,.pure-u-7-24,.pure-u-9-24,.pure-u-11-24,.pure-u-13-24,.pure-u-15-24,.pure-u-17-24,.pure-u-19-24,.pure-u-21-24,.pure-u-23-24,.pure-u-1-25,.pure-u-2-25,.pure-u-3-25,.pure-u-4-25,.pure-u-6-25,.pure-u-7-25,.pure-u-8-25,.pure-u-9-25,.pure-u-10-25,.pure-u-11-25,.pure-u-12-25,.pure-u-13-25,.pure-u-14-25,.pure-u-15-25,.pure-u-16-25,.pure-u-17-25,.pure-u-18-25,.pure-u-19-25,.pure-u-20-25,.pure-u-21-25,.pure-u-22-25,.pure-u-23-25,.pure-u-24-25 {
        display: inline-block;
        zoom: 1; *display: inline; 
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }



    .pure-u-1 {
        display:block;
    }


    .pure-u-1-2 {
        width: 500px;
    }

    .pure-offset-1-2 {
        margin-left: 500px;
    }



    .pure-u-1-3 {
        width: 333.333px;
    }

    .pure-offset-1-3 {
        margin-left: 333.333px;
    }



    .pure-u-2-3 {
        width: 666.667px;
    }

    .pure-offset-2-3 {
        margin-left: 666.667px;
    }



    .pure-u-1-4 {
        width: 250px;
    }

    .pure-offset-1-4 {
        margin-left: 250px;
    }



    .pure-u-3-4 {
        width: 750px;
    }

    .pure-offset-3-4 {
        margin-left: 750px;
    }



    .pure-u-1-5 {
        width: 200px;
    }

    .pure-offset-1-5 {
        margin-left: 200px;
    }



    .pure-u-2-5 {
        width: 400px;
    }

    .pure-offset-2-5 {
        margin-left: 400px;
    }



    .pure-u-3-5 {
        width: 600px;
    }

    .pure-offset-3-5 {
        margin-left: 600px;
    }



    .pure-u-4-5 {
        width: 800px;
    }

    .pure-offset-4-5 {
        margin-left: 800px;
    }



    .pure-u-1-6 {
        width: 166.667px;
    }

    .pure-offset-1-6 {
        margin-left: 166.667px;
    }



    .pure-u-5-6 {
        width: 833.333px;
    }

    .pure-offset-5-6 {
        margin-left: 833.333px;
    }



    .pure-u-1-7 {
        width: 142.857px;
    }

    .pure-offset-1-7 {
        margin-left: 142.857px;
    }



    .pure-u-2-7 {
        width: 285.714px;
    }

    .pure-offset-2-7 {
        margin-left: 285.714px;
    }



    .pure-u-3-7 {
        width: 428.571px;
    }

    .pure-offset-3-7 {
        margin-left: 428.571px;
    }



    .pure-u-4-7 {
        width: 571.429px;
    }

    .pure-offset-4-7 {
        margin-left: 571.429px;
    }



    .pure-u-5-7 {
        width: 714.286px;
    }

    .pure-offset-5-7 {
        margin-left: 714.286px;
    }



    .pure-u-6-7 {
        width: 857.143px;
    }

    .pure-offset-6-7 {
        margin-left: 857.143px;
    }



    .pure-u-1-8 {
        width: 125px;
    }

    .pure-offset-1-8 {
        margin-left: 125px;
    }



    .pure-u-3-8 {
        width: 375px;
    }

    .pure-offset-3-8 {
        margin-left: 375px;
    }



    .pure-u-5-8 {
        width: 625px;
    }

    .pure-offset-5-8 {
        margin-left: 625px;
    }



    .pure-u-7-8 {
        width: 875px;
    }

    .pure-offset-7-8 {
        margin-left: 875px;
    }



    .pure-u-1-9 {
        width: 111.111px;
    }

    .pure-offset-1-9 {
        margin-left: 111.111px;
    }



    .pure-u-2-9 {
        width: 222.222px;
    }

    .pure-offset-2-9 {
        margin-left: 222.222px;
    }



    .pure-u-4-9 {
        width: 444.444px;
    }

    .pure-offset-4-9 {
        margin-left: 444.444px;
    }



    .pure-u-5-9 {
        width: 555.556px;
    }

    .pure-offset-5-9 {
        margin-left: 555.556px;
    }



    .pure-u-6-9 {
        width: 666.667px;
    }

    .pure-offset-6-9 {
        margin-left: 666.667px;
    }



    .pure-u-7-9 {
        width: 777.778px;
    }

    .pure-offset-7-9 {
        margin-left: 777.778px;
    }



    .pure-u-8-9 {
        width: 888.889px;
    }

    .pure-offset-8-9 {
        margin-left: 888.889px;
    }



    .pure-u-1-10 {
        width: 100px;
    }

    .pure-offset-1-10 {
        margin-left: 100px;
    }



    .pure-u-3-10 {
        width: 300px;
    }

    .pure-offset-3-10 {
        margin-left: 300px;
    }



    .pure-u-7-10 {
        width: 700px;
    }

    .pure-offset-7-10 {
        margin-left: 700px;
    }



    .pure-u-9-10 {
        width: 900px;
    }

    .pure-offset-9-10 {
        margin-left: 900px;
    }



    .pure-u-1-11 {
        width: 90.909px;
    }

    .pure-offset-1-11 {
        margin-left: 90.909px;
    }



    .pure-u-2-11 {
        width: 181.818px;
    }

    .pure-offset-2-11 {
        margin-left: 181.818px;
    }



    .pure-u-3-11 {
        width: 272.727px;
    }

    .pure-offset-3-11 {
        margin-left: 272.727px;
    }



    .pure-u-4-11 {
        width: 363.636px;
    }

    .pure-offset-4-11 {
        margin-left: 363.636px;
    }



    .pure-u-5-11 {
        width: 454.545px;
    }

    .pure-offset-5-11 {
        margin-left: 454.545px;
    }



    .pure-u-6-11 {
        width: 545.455px;
    }

    .pure-offset-6-11 {
        margin-left: 545.455px;
    }



    .pure-u-7-11 {
        width: 636.364px;
    }

    .pure-offset-7-11 {
        margin-left: 636.364px;
    }



    .pure-u-8-11 {
        width: 727.273px;
    }

    .pure-offset-8-11 {
        margin-left: 727.273px;
    }



    .pure-u-9-11 {
        width: 818.182px;
    }

    .pure-offset-9-11 {
        margin-left: 818.182px;
    }



    .pure-u-10-11 {
        width: 909.091px;
    }

    .pure-offset-10-11 {
        margin-left: 909.091px;
    }



    .pure-u-1-12 {
        width: 83.333px;
    }

    .pure-offset-1-12 {
        margin-left: 83.333px;
    }



    .pure-u-5-12 {
        width: 416.667px;
    }

    .pure-offset-5-12 {
        margin-left: 416.667px;
    }



    .pure-u-7-12 {
        width: 583.333px;
    }

    .pure-offset-7-12 {
        margin-left: 583.333px;
    }



    .pure-u-9-12 {
        width: 750px;
    }

    .pure-offset-9-12 {
        margin-left: 750px;
    }



    .pure-u-11-12 {
        width: 916.667px;
    }

    .pure-offset-11-12 {
        margin-left: 916.667px;
    }



    .pure-u-1-13 {
        width: 76.923px;
    }

    .pure-offset-1-13 {
        margin-left: 76.923px;
    }



    .pure-u-2-13 {
        width: 153.846px;
    }

    .pure-offset-2-13 {
        margin-left: 153.846px;
    }



    .pure-u-3-13 {
        width: 230.769px;
    }

    .pure-offset-3-13 {
        margin-left: 230.769px;
    }



    .pure-u-4-13 {
        width: 307.692px;
    }

    .pure-offset-4-13 {
        margin-left: 307.692px;
    }



    .pure-u-5-13 {
        width: 384.615px;
    }

    .pure-offset-5-13 {
        margin-left: 384.615px;
    }



    .pure-u-6-13 {
        width: 461.538px;
    }

    .pure-offset-6-13 {
        margin-left: 461.538px;
    }



    .pure-u-7-13 {
        width: 538.462px;
    }

    .pure-offset-7-13 {
        margin-left: 538.462px;
    }



    .pure-u-8-13 {
        width: 615.385px;
    }

    .pure-offset-8-13 {
        margin-left: 615.385px;
    }



    .pure-u-9-13 {
        width: 692.308px;
    }

    .pure-offset-9-13 {
        margin-left: 692.308px;
    }



    .pure-u-10-13 {
        width: 769.231px;
    }

    .pure-offset-10-13 {
        margin-left: 769.231px;
    }



    .pure-u-11-13 {
        width: 846.154px;
    }

    .pure-offset-11-13 {
        margin-left: 846.154px;
    }



    .pure-u-12-13 {
        width: 923.077px;
    }

    .pure-offset-12-13 {
        margin-left: 923.077px;
    }



    .pure-u-1-14 {
        width: 71.429px;
    }

    .pure-offset-1-14 {
        margin-left: 71.429px;
    }



    .pure-u-3-14 {
        width: 214.286px;
    }

    .pure-offset-3-14 {
        margin-left: 214.286px;
    }



    .pure-u-5-14 {
        width: 357.143px;
    }

    .pure-offset-5-14 {
        margin-left: 357.143px;
    }



    .pure-u-9-14 {
        width: 642.857px;
    }

    .pure-offset-9-14 {
        margin-left: 642.857px;
    }



    .pure-u-11-14 {
        width: 785.714px;
    }

    .pure-offset-11-14 {
        margin-left: 785.714px;
    }



    .pure-u-13-14 {
        width: 928.571px;
    }

    .pure-offset-13-14 {
        margin-left: 928.571px;
    }



    .pure-u-1-15 {
        width: 66.667px;
    }

    .pure-offset-1-15 {
        margin-left: 66.667px;
    }



    .pure-u-2-15 {
        width: 133.333px;
    }

    .pure-offset-2-15 {
        margin-left: 133.333px;
    }



    .pure-u-4-15 {
        width: 266.667px;
    }

    .pure-offset-4-15 {
        margin-left: 266.667px;
    }



    .pure-u-6-15 {
        width: 400px;
    }

    .pure-offset-6-15 {
        margin-left: 400px;
    }



    .pure-u-7-15 {
        width: 466.667px;
    }

    .pure-offset-7-15 {
        margin-left: 466.667px;
    }



    .pure-u-8-15 {
        width: 533.333px;
    }

    .pure-offset-8-15 {
        margin-left: 533.333px;
    }



    .pure-u-9-15 {
        width: 600px;
    }

    .pure-offset-9-15 {
        margin-left: 600px;
    }



    .pure-u-10-15 {
        width: 666.667px;
    }

    .pure-offset-10-15 {
        margin-left: 666.667px;
    }



    .pure-u-11-15 {
        width: 733.333px;
    }

    .pure-offset-11-15 {
        margin-left: 733.333px;
    }



    .pure-u-12-15 {
        width: 800px;
    }

    .pure-offset-12-15 {
        margin-left: 800px;
    }



    .pure-u-13-15 {
        width: 866.667px;
    }

    .pure-offset-13-15 {
        margin-left: 866.667px;
    }



    .pure-u-14-15 {
        width: 933.333px;
    }

    .pure-offset-14-15 {
        margin-left: 933.333px;
    }



    .pure-u-1-16 {
        width: 62.5px;
    }

    .pure-offset-1-16 {
        margin-left: 62.5px;
    }



    .pure-u-3-16 {
        width: 187.5px;
    }

    .pure-offset-3-16 {
        margin-left: 187.5px;
    }



    .pure-u-5-16 {
        width: 312.5px;
    }

    .pure-offset-5-16 {
        margin-left: 312.5px;
    }



    .pure-u-7-16 {
        width: 437.5px;
    }

    .pure-offset-7-16 {
        margin-left: 437.5px;
    }



    .pure-u-9-16 {
        width: 562.5px;
    }

    .pure-offset-9-16 {
        margin-left: 562.5px;
    }



    .pure-u-11-16 {
        width: 687.5px;
    }

    .pure-offset-11-16 {
        margin-left: 687.5px;
    }



    .pure-u-13-16 {
        width: 812.5px;
    }

    .pure-offset-13-16 {
        margin-left: 812.5px;
    }



    .pure-u-15-16 {
        width: 937.5px;
    }

    .pure-offset-15-16 {
        margin-left: 937.5px;
    }



    .pure-u-1-17 {
        width: 58.824px;
    }

    .pure-offset-1-17 {
        margin-left: 58.824px;
    }



    .pure-u-2-17 {
        width: 117.647px;
    }

    .pure-offset-2-17 {
        margin-left: 117.647px;
    }



    .pure-u-3-17 {
        width: 176.471px;
    }

    .pure-offset-3-17 {
        margin-left: 176.471px;
    }



    .pure-u-4-17 {
        width: 235.294px;
    }

    .pure-offset-4-17 {
        margin-left: 235.294px;
    }



    .pure-u-5-17 {
        width: 294.118px;
    }

    .pure-offset-5-17 {
        margin-left: 294.118px;
    }



    .pure-u-6-17 {
        width: 352.941px;
    }

    .pure-offset-6-17 {
        margin-left: 352.941px;
    }



    .pure-u-7-17 {
        width: 411.765px;
    }

    .pure-offset-7-17 {
        margin-left: 411.765px;
    }



    .pure-u-8-17 {
        width: 470.588px;
    }

    .pure-offset-8-17 {
        margin-left: 470.588px;
    }



    .pure-u-9-17 {
        width: 529.412px;
    }

    .pure-offset-9-17 {
        margin-left: 529.412px;
    }



    .pure-u-10-17 {
        width: 588.235px;
    }

    .pure-offset-10-17 {
        margin-left: 588.235px;
    }



    .pure-u-11-17 {
        width: 647.059px;
    }

    .pure-offset-11-17 {
        margin-left: 647.059px;
    }



    .pure-u-12-17 {
        width: 705.882px;
    }

    .pure-offset-12-17 {
        margin-left: 705.882px;
    }



    .pure-u-13-17 {
        width: 764.706px;
    }

    .pure-offset-13-17 {
        margin-left: 764.706px;
    }



    .pure-u-14-17 {
        width: 823.529px;
    }

    .pure-offset-14-17 {
        margin-left: 823.529px;
    }



    .pure-u-15-17 {
        width: 882.353px;
    }

    .pure-offset-15-17 {
        margin-left: 882.353px;
    }



    .pure-u-16-17 {
        width: 941.176px;
    }

    .pure-offset-16-17 {
        margin-left: 941.176px;
    }



    .pure-u-1-18 {
        width: 55.556px;
    }

    .pure-offset-1-18 {
        margin-left: 55.556px;
    }



    .pure-u-5-18 {
        width: 277.778px;
    }

    .pure-offset-5-18 {
        margin-left: 277.778px;
    }



    .pure-u-7-18 {
        width: 388.889px;
    }

    .pure-offset-7-18 {
        margin-left: 388.889px;
    }



    .pure-u-11-18 {
        width: 611.111px;
    }

    .pure-offset-11-18 {
        margin-left: 611.111px;
    }



    .pure-u-13-18 {
        width: 722.222px;
    }

    .pure-offset-13-18 {
        margin-left: 722.222px;
    }



    .pure-u-15-18 {
        width: 833.333px;
    }

    .pure-offset-15-18 {
        margin-left: 833.333px;
    }



    .pure-u-17-18 {
        width: 944.444px;
    }

    .pure-offset-17-18 {
        margin-left: 944.444px;
    }



    .pure-u-1-19 {
        width: 52.632px;
    }

    .pure-offset-1-19 {
        margin-left: 52.632px;
    }



    .pure-u-2-19 {
        width: 105.263px;
    }

    .pure-offset-2-19 {
        margin-left: 105.263px;
    }



    .pure-u-3-19 {
        width: 157.895px;
    }

    .pure-offset-3-19 {
        margin-left: 157.895px;
    }



    .pure-u-4-19 {
        width: 210.526px;
    }

    .pure-offset-4-19 {
        margin-left: 210.526px;
    }



    .pure-u-5-19 {
        width: 263.158px;
    }

    .pure-offset-5-19 {
        margin-left: 263.158px;
    }



    .pure-u-6-19 {
        width: 315.789px;
    }

    .pure-offset-6-19 {
        margin-left: 315.789px;
    }



    .pure-u-7-19 {
        width: 368.421px;
    }

    .pure-offset-7-19 {
        margin-left: 368.421px;
    }



    .pure-u-8-19 {
        width: 421.053px;
    }

    .pure-offset-8-19 {
        margin-left: 421.053px;
    }



    .pure-u-9-19 {
        width: 473.684px;
    }

    .pure-offset-9-19 {
        margin-left: 473.684px;
    }



    .pure-u-10-19 {
        width: 526.316px;
    }

    .pure-offset-10-19 {
        margin-left: 526.316px;
    }



    .pure-u-11-19 {
        width: 578.947px;
    }

    .pure-offset-11-19 {
        margin-left: 578.947px;
    }



    .pure-u-12-19 {
        width: 631.579px;
    }

    .pure-offset-12-19 {
        margin-left: 631.579px;
    }



    .pure-u-13-19 {
        width: 684.211px;
    }

    .pure-offset-13-19 {
        margin-left: 684.211px;
    }



    .pure-u-14-19 {
        width: 736.842px;
    }

    .pure-offset-14-19 {
        margin-left: 736.842px;
    }



    .pure-u-15-19 {
        width: 789.474px;
    }

    .pure-offset-15-19 {
        margin-left: 789.474px;
    }



    .pure-u-16-19 {
        width: 842.105px;
    }

    .pure-offset-16-19 {
        margin-left: 842.105px;
    }



    .pure-u-17-19 {
        width: 894.737px;
    }

    .pure-offset-17-19 {
        margin-left: 894.737px;
    }



    .pure-u-18-19 {
        width: 947.368px;
    }

    .pure-offset-18-19 {
        margin-left: 947.368px;
    }



    .pure-u-1-20 {
        width: 50px;
    }

    .pure-offset-1-20 {
        margin-left: 50px;
    }



    .pure-u-3-20 {
        width: 150px;
    }

    .pure-offset-3-20 {
        margin-left: 150px;
    }



    .pure-u-7-20 {
        width: 350px;
    }

    .pure-offset-7-20 {
        margin-left: 350px;
    }



    .pure-u-9-20 {
        width: 450px;
    }

    .pure-offset-9-20 {
        margin-left: 450px;
    }



    .pure-u-11-20 {
        width: 550px;
    }

    .pure-offset-11-20 {
        margin-left: 550px;
    }



    .pure-u-13-20 {
        width: 650px;
    }

    .pure-offset-13-20 {
        margin-left: 650px;
    }



    .pure-u-15-20 {
        width: 750px;
    }

    .pure-offset-15-20 {
        margin-left: 750px;
    }



    .pure-u-17-20 {
        width: 850px;
    }

    .pure-offset-17-20 {
        margin-left: 850px;
    }



    .pure-u-19-20 {
        width: 950px;
    }

    .pure-offset-19-20 {
        margin-left: 950px;
    }



    .pure-u-1-21 {
        width: 47.619px;
    }

    .pure-offset-1-21 {
        margin-left: 47.619px;
    }



    .pure-u-2-21 {
        width: 95.238px;
    }

    .pure-offset-2-21 {
        margin-left: 95.238px;
    }



    .pure-u-4-21 {
        width: 190.476px;
    }

    .pure-offset-4-21 {
        margin-left: 190.476px;
    }



    .pure-u-5-21 {
        width: 238.095px;
    }

    .pure-offset-5-21 {
        margin-left: 238.095px;
    }



    .pure-u-6-21 {
        width: 285.714px;
    }

    .pure-offset-6-21 {
        margin-left: 285.714px;
    }



    .pure-u-8-21 {
        width: 380.952px;
    }

    .pure-offset-8-21 {
        margin-left: 380.952px;
    }



    .pure-u-9-21 {
        width: 428.571px;
    }

    .pure-offset-9-21 {
        margin-left: 428.571px;
    }



    .pure-u-10-21 {
        width: 476.19px;
    }

    .pure-offset-10-21 {
        margin-left: 476.19px;
    }



    .pure-u-11-21 {
        width: 523.81px;
    }

    .pure-offset-11-21 {
        margin-left: 523.81px;
    }



    .pure-u-12-21 {
        width: 571.429px;
    }

    .pure-offset-12-21 {
        margin-left: 571.429px;
    }



    .pure-u-13-21 {
        width: 619.048px;
    }

    .pure-offset-13-21 {
        margin-left: 619.048px;
    }



    .pure-u-14-21 {
        width: 666.667px;
    }

    .pure-offset-14-21 {
        margin-left: 666.667px;
    }



    .pure-u-15-21 {
        width: 714.286px;
    }

    .pure-offset-15-21 {
        margin-left: 714.286px;
    }



    .pure-u-16-21 {
        width: 761.905px;
    }

    .pure-offset-16-21 {
        margin-left: 761.905px;
    }



    .pure-u-17-21 {
        width: 809.524px;
    }

    .pure-offset-17-21 {
        margin-left: 809.524px;
    }



    .pure-u-18-21 {
        width: 857.143px;
    }

    .pure-offset-18-21 {
        margin-left: 857.143px;
    }



    .pure-u-19-21 {
        width: 904.762px;
    }

    .pure-offset-19-21 {
        margin-left: 904.762px;
    }



    .pure-u-20-21 {
        width: 952.381px;
    }

    .pure-offset-20-21 {
        margin-left: 952.381px;
    }



    .pure-u-1-22 {
        width: 45.455px;
    }

    .pure-offset-1-22 {
        margin-left: 45.455px;
    }



    .pure-u-3-22 {
        width: 136.364px;
    }

    .pure-offset-3-22 {
        margin-left: 136.364px;
    }



    .pure-u-5-22 {
        width: 227.273px;
    }

    .pure-offset-5-22 {
        margin-left: 227.273px;
    }



    .pure-u-7-22 {
        width: 318.182px;
    }

    .pure-offset-7-22 {
        margin-left: 318.182px;
    }



    .pure-u-9-22 {
        width: 409.091px;
    }

    .pure-offset-9-22 {
        margin-left: 409.091px;
    }



    .pure-u-13-22 {
        width: 590.909px;
    }

    .pure-offset-13-22 {
        margin-left: 590.909px;
    }



    .pure-u-15-22 {
        width: 681.818px;
    }

    .pure-offset-15-22 {
        margin-left: 681.818px;
    }



    .pure-u-17-22 {
        width: 772.727px;
    }

    .pure-offset-17-22 {
        margin-left: 772.727px;
    }



    .pure-u-19-22 {
        width: 863.636px;
    }

    .pure-offset-19-22 {
        margin-left: 863.636px;
    }



    .pure-u-21-22 {
        width: 954.545px;
    }

    .pure-offset-21-22 {
        margin-left: 954.545px;
    }



    .pure-u-1-23 {
        width: 43.478px;
    }

    .pure-offset-1-23 {
        margin-left: 43.478px;
    }



    .pure-u-2-23 {
        width: 86.957px;
    }

    .pure-offset-2-23 {
        margin-left: 86.957px;
    }



    .pure-u-3-23 {
        width: 130.435px;
    }

    .pure-offset-3-23 {
        margin-left: 130.435px;
    }



    .pure-u-4-23 {
        width: 173.913px;
    }

    .pure-offset-4-23 {
        margin-left: 173.913px;
    }



    .pure-u-5-23 {
        width: 217.391px;
    }

    .pure-offset-5-23 {
        margin-left: 217.391px;
    }



    .pure-u-6-23 {
        width: 260.87px;
    }

    .pure-offset-6-23 {
        margin-left: 260.87px;
    }



    .pure-u-7-23 {
        width: 304.348px;
    }

    .pure-offset-7-23 {
        margin-left: 304.348px;
    }



    .pure-u-8-23 {
        width: 347.826px;
    }

    .pure-offset-8-23 {
        margin-left: 347.826px;
    }



    .pure-u-9-23 {
        width: 391.304px;
    }

    .pure-offset-9-23 {
        margin-left: 391.304px;
    }



    .pure-u-10-23 {
        width: 434.783px;
    }

    .pure-offset-10-23 {
        margin-left: 434.783px;
    }



    .pure-u-11-23 {
        width: 478.261px;
    }

    .pure-offset-11-23 {
        margin-left: 478.261px;
    }



    .pure-u-12-23 {
        width: 521.739px;
    }

    .pure-offset-12-23 {
        margin-left: 521.739px;
    }



    .pure-u-13-23 {
        width: 565.217px;
    }

    .pure-offset-13-23 {
        margin-left: 565.217px;
    }



    .pure-u-14-23 {
        width: 608.696px;
    }

    .pure-offset-14-23 {
        margin-left: 608.696px;
    }



    .pure-u-15-23 {
        width: 652.174px;
    }

    .pure-offset-15-23 {
        margin-left: 652.174px;
    }



    .pure-u-16-23 {
        width: 695.652px;
    }

    .pure-offset-16-23 {
        margin-left: 695.652px;
    }



    .pure-u-17-23 {
        width: 739.13px;
    }

    .pure-offset-17-23 {
        margin-left: 739.13px;
    }



    .pure-u-18-23 {
        width: 782.609px;
    }

    .pure-offset-18-23 {
        margin-left: 782.609px;
    }



    .pure-u-19-23 {
        width: 826.087px;
    }

    .pure-offset-19-23 {
        margin-left: 826.087px;
    }



    .pure-u-20-23 {
        width: 869.565px;
    }

    .pure-offset-20-23 {
        margin-left: 869.565px;
    }



    .pure-u-21-23 {
        width: 913.043px;
    }

    .pure-offset-21-23 {
        margin-left: 913.043px;
    }



    .pure-u-22-23 {
        width: 956.522px;
    }

    .pure-offset-22-23 {
        margin-left: 956.522px;
    }



    .pure-u-1-24 {
        width: 41.667px;
    }

    .pure-offset-1-24 {
        margin-left: 41.667px;
    }



    .pure-u-5-24 {
        width: 208.333px;
    }

    .pure-offset-5-24 {
        margin-left: 208.333px;
    }



    .pure-u-7-24 {
        width: 291.667px;
    }

    .pure-offset-7-24 {
        margin-left: 291.667px;
    }



    .pure-u-9-24 {
        width: 375px;
    }

    .pure-offset-9-24 {
        margin-left: 375px;
    }



    .pure-u-11-24 {
        width: 458.333px;
    }

    .pure-offset-11-24 {
        margin-left: 458.333px;
    }



    .pure-u-13-24 {
        width: 541.667px;
    }

    .pure-offset-13-24 {
        margin-left: 541.667px;
    }



    .pure-u-15-24 {
        width: 625px;
    }

    .pure-offset-15-24 {
        margin-left: 625px;
    }



    .pure-u-17-24 {
        width: 708.333px;
    }

    .pure-offset-17-24 {
        margin-left: 708.333px;
    }



    .pure-u-19-24 {
        width: 791.667px;
    }

    .pure-offset-19-24 {
        margin-left: 791.667px;
    }



    .pure-u-21-24 {
        width: 875px;
    }

    .pure-offset-21-24 {
        margin-left: 875px;
    }



    .pure-u-23-24 {
        width: 958.333px;
    }

    .pure-offset-23-24 {
        margin-left: 958.333px;
    }



    .pure-u-1-25 {
        width: 40px;
    }

    .pure-offset-1-25 {
        margin-left: 40px;
    }



    .pure-u-2-25 {
        width: 80px;
    }

    .pure-offset-2-25 {
        margin-left: 80px;
    }



    .pure-u-3-25 {
        width: 120px;
    }

    .pure-offset-3-25 {
        margin-left: 120px;
    }



    .pure-u-4-25 {
        width: 160px;
    }

    .pure-offset-4-25 {
        margin-left: 160px;
    }



    .pure-u-6-25 {
        width: 240px;
    }

    .pure-offset-6-25 {
        margin-left: 240px;
    }



    .pure-u-7-25 {
        width: 280px;
    }

    .pure-offset-7-25 {
        margin-left: 280px;
    }



    .pure-u-8-25 {
        width: 320px;
    }

    .pure-offset-8-25 {
        margin-left: 320px;
    }



    .pure-u-9-25 {
        width: 360px;
    }

    .pure-offset-9-25 {
        margin-left: 360px;
    }



    .pure-u-10-25 {
        width: 400px;
    }

    .pure-offset-10-25 {
        margin-left: 400px;
    }



    .pure-u-11-25 {
        width: 440px;
    }

    .pure-offset-11-25 {
        margin-left: 440px;
    }



    .pure-u-12-25 {
        width: 480px;
    }

    .pure-offset-12-25 {
        margin-left: 480px;
    }



    .pure-u-13-25 {
        width: 520px;
    }

    .pure-offset-13-25 {
        margin-left: 520px;
    }



    .pure-u-14-25 {
        width: 560px;
    }

    .pure-offset-14-25 {
        margin-left: 560px;
    }



    .pure-u-15-25 {
        width: 600px;
    }

    .pure-offset-15-25 {
        margin-left: 600px;
    }



    .pure-u-16-25 {
        width: 640px;
    }

    .pure-offset-16-25 {
        margin-left: 640px;
    }



    .pure-u-17-25 {
        width: 680px;
    }

    .pure-offset-17-25 {
        margin-left: 680px;
    }



    .pure-u-18-25 {
        width: 720px;
    }

    .pure-offset-18-25 {
        margin-left: 720px;
    }



    .pure-u-19-25 {
        width: 760px;
    }

    .pure-offset-19-25 {
        margin-left: 760px;
    }



    .pure-u-20-25 {
        width: 800px;
    }

    .pure-offset-20-25 {
        margin-left: 800px;
    }



    .pure-u-21-25 {
        width: 840px;
    }

    .pure-offset-21-25 {
        margin-left: 840px;
    }



    .pure-u-22-25 {
        width: 880px;
    }

    .pure-offset-22-25 {
        margin-left: 880px;
    }



    .pure-u-23-25 {
        width: 920px;
    }

    .pure-offset-23-25 {
        margin-left: 920px;
    }



    .pure-u-24-25 {
        width: 960px;
    }

    .pure-offset-24-25 {
        margin-left: 960px;
    }

    
}