//------------------------------------------------------------------------------------------------
//
//  フラッシュメッセージ
//
//------------------------------------------------------------------------------------------------
@mixin module-flash_message{

    .mod-flash_message{
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 15;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        background: #2ba6e1 repeat-x top left;
        padding: 10px;
        width: 100%;
        opacity: 0.8;
        filter:alpha(opacity=80);
    }

    .mod-flash_message.fixed{
        position: fixed;
        top: 0;
        z-index: 250;
    }
}