<header class="l-header" role="banner">
    <nav role="navigation">
        <ul>
            <li><a href="#anchor-logo">リンク</a></li>
            <li><a href="#anchor-logo">リンク</a></li>
            <li><a href="#anchor-logo">リンク</a></li>
        </ul>
    </nav>
</header>
