{% block title -%}トップページ{% endblock -%}
{% extends "_layouts/default.njk" %}
{% include "_partials/header.njk" -%}
{% block contents -%}
<div class="modal-default js-modal-wrapper">
    <div class="background js-modal-close" data-modal-target=".js-modal-wrapper"></div>
    <div class="box-default">aa</div>
</div>
<main class="l-main js-lazyload" role="main">
    {% include "_partials/breadcrumb.njk" -%}
    {% include "_partials/contents-area.njk" -%}
    <a href="#" class="js-modal-open" data-modal-target=".js-modal-wrapper">open</a>
    <a href="#" class="js-drawer-show">drawer open</a>
    <p class="js-alert-test">ここはトップページです</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img data-src="http://s.yimg.jp/images/auc/pc/top/image/2.0.0/logo_yahuoku_01.png" alt="" width="268" height="60" id="anchor-logo">
</main>
{% endblock -%}
{% include "_partials/footer.njk" -%}
