//------------------------------------------------------------------------------------------------
//
//  SASS設定用
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  variables
//--------------------------------------------------------------------
$default-text-size: 12px;
$default-link-color: #fff;

$wrapper-width: 1000px;
