---
import { Image } from 'astro:assets';
import Default from '../layouts/Default.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Drawer from '../components/Drawer.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import ContentsArea from '../components/ContentsArea.astro';
import Modal from '../components/Modal.astro';
import testImg from '../assets/img/test.jpg';

const breadcrumbItems = [
    { name: 'トップ', href: '/' },
    { name: 'カテゴリ', href: '/category/' },
    { name: 'ページタイトル' },
];
---

<Default title="トップページ">
    <Drawer slot="drawer" />

    <Modal id="default">モーダルコンテンツ</Modal>

    <Header />

    <main class="main" role="main">
        <Breadcrumb items={breadcrumbItems} />
        <ContentsArea />

        <a href="#" class="js-modal-open" data-modal-target="#js-modal-default">モーダルを開く</a>
        <a href="#" class="js-drawer-show">ドロワーを開く</a>

        <Image src={testImg} alt="" loading="lazy" />
    </main>

    <Footer />
</Default>

<style>
    .main {
    }
</style>
