@charset "utf-8";

//------------------------------------------------------------------
//  setting
//----------------------------------------------------------------*/
@import "setup/setting";
@import "setup/utility";

//--------------------------------------------------------------------
//  foundation
//--------------------------------------------------------------------
@import "../../../node_modules/modularized-normalize-scss/normalize";
@import "foundation/base";

//--------------------------------------------------------------------
//  layout
//--------------------------------------------------------------------
@import "layout/**";

//------------------------------------------------------------------
//  component
//----------------------------------------------------------------*/
@import "object/component/**";

//------------------------------------------------------------------
//  project
//----------------------------------------------------------------*/
@import "object/project/**";

//------------------------------------------------------------------
//  utility
//----------------------------------------------------------------*/
@import "object/utility/**";