//------------------------------------------------------------------------------------------------
//
//  ヘルパー
//  他のクラスと組み合わせてページで使う
//
//------------------------------------------------------------------------------------------------

//------------------------------------------------------------------
//  clearfix
//------------------------------------------------------------------
.clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

//--------------------------------------------------------------------
//  削除系
//--------------------------------------------------------------------
// borderを削除
.space-del_bt{ border-top: none !important; }
.space-del_bb{ border-bottom: none !important; }

//--------------------------------------------------------------------
//  追加系
//--------------------------------------------------------------------
// padding top
.space-pt_0{ padding-top: 0px !important; }
.space-pt_5{ padding-top: 5px !important; }
.space-pt_10{ padding-top: 10px !important; }
.space-pt_15{ padding-top: 15px !important; }
.space-pt_20{ padding-top: 20px !important; }
.space-pt_25{ padding-top: 25px !important; }
.space-pt_30{ padding-top: 30px !important; }
.space-pt_35{ padding-top: 35px !important; }
.space-pt_40{ padding-top: 40px !important; }
.space-pt_45{ padding-top: 45px !important; }
.space-pt_50{ padding-top: 50px !important; }

// padding bottom
.space-pb_0{ padding-bottom: 0px !important; }
.space-pb_5{ padding-bottom: 5px !important; }
.space-pb_10{ padding-bottom: 10px !important; }
.space-pb_15{ padding-bottom: 15px !important; }
.space-pb_20{ padding-bottom: 20px !important; }
.space-pb_25{ padding-bottom: 25px !important; }
.space-pb_30{ padding-bottom: 30px !important; }
.space-pb_35{ padding-bottom: 35px !important; }
.space-pb_40{ padding-bottom: 40px !important; }
.space-pb_45{ padding-bottom: 45px !important; }
.space-pb_50{ padding-bottom: 50px !important; }

// margin top
.space-mt_0{ margin-top: 0px !important; }
.space-mt_5{ margin-top: 5px !important; }
.space-mt_10{ margin-top: 10px !important; }
.space-mt_15{ margin-top: 15px !important; }
.space-mt_20{ margin-top: 20px !important; }
.space-mt_25{ margin-top: 25px !important; }
.space-mt_30{ margin-top: 30px !important; }
.space-mt_35{ margin-top: 35px !important; }
.space-mt_40{ margin-top: 40px !important; }
.space-mt_45{ margin-top: 45px !important; }
.space-mt_50{ margin-top: 50px !important; }

// margin bottom
.space-mb_0{ margin-bottom: 0px !important; }
.space-mb_5{ margin-bottom: 5px !important; }
.space-mb_10{ margin-bottom: 10px !important; }
.space-mb_15{ margin-bottom: 15px !important; }
.space-mb_20{ margin-bottom: 20px !important; }
.space-mb_25{ margin-bottom: 25px !important; }
.space-mb_30{ margin-bottom: 30px !important; }
.space-mb_35{ margin-bottom: 35px !important; }
.space-mb_40{ margin-bottom: 40px !important; }
.space-mb_45{ margin-bottom: 45px !important; }
.space-mb_50{ margin-bottom: 50px !important; }

//--------------------------------------------------------------------
//  文章スタイルを有効化する
//--------------------------------------------------------------------
.is-enable_text_style{

    h1{
        font-weight: bold;
        margin: 0.67em 0;
    }

    h2{
        font-weight: bold;
        margin: 0.83em 0;
    }

    h3{
        font-weight: bold;
        margin: 1em 0;
    }

    h4{
        font-weight: bold;
        margin: 1.33em 0;
    }

    h5{
        font-weight: bold;
        margin: 1.67em 0;
    }

    h6{
        font-weight: bold;
        margin: 2.33em 0;
    }

    ul{
        list-style-type: disc;
        margin: 1em 0;
        padding-left: 40px;
    }

    blockquote{
        border-left: 5px solid #8f8781;
        margin: 1em 0;
        padding: 0.9em 20px;

        > p{
            margin-bottom: 0.8em;
        }

        > small{
            display: block;
            color: #999;
        }
    }

}
