//--------------------------------------------------------------------------------------------------
//
//  ボタン系
//
//--------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  汎用ボタン
//--------------------------------------------------------------------
// .button{
//
// }

//--------------------------------------------------------------------
//  スマートフォン版への誘導ボタン
//--------------------------------------------------------------------
.button-smartphone{
    box-sizing: border-box;
    border-radius: 12px;
    background-image: linear-gradient(to left top, #b6b4b4 0%, #a4a2a2 100%);
    text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 1.5;
    padding: 0.5em 0 0.48em;

    &:hover{
        background-image: linear-gradient(to left top, #918f8f 0%, #b0b0b0 100%);
    }

    &:before {
        opacity: 0.5;
        border-radius: 12px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        border-top: #fff 2px solid;
    }
}