---
---

<div class="l-drawer-bg js-drawer-hide"></div>
<div class="l-drawer modi-left">
    <a href="#" class="drawer-close js-drawer-hide">X</a>
    <ul class="drawer-list">
        <li>メニュー項目</li>
        <li>メニュー項目</li>
        <li>メニュー項目</li>
    </ul>
</div>

<script>
    import { Drawer } from '../scripts/drawer';
    new Drawer();
</script>
