//------------------------------------------------------------------------------------------------
//
//  padding
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  top
//--------------------------------------------------------------------
.u-pt_0{ padding-top: 0px !important; }
.u-pt_5{ padding-top: 5px !important; }
.u-pt_10{ padding-top: 10px !important; }
.u-pt_15{ padding-top: 15px !important; }
.u-pt_20{ padding-top: 20px !important; }
.u-pt_25{ padding-top: 25px !important; }
.u-pt_30{ padding-top: 30px !important; }
.u-pt_35{ padding-top: 35px !important; }
.u-pt_40{ padding-top: 40px !important; }
.u-pt_45{ padding-top: 45px !important; }
.u-pt_50{ padding-top: 50px !important; }
.u-pt_60{ padding-top: 60px !important; }
.u-pt_70{ padding-top: 70px !important; }
.u-pt_80{ padding-top: 80px !important; }
.u-pt_90{ padding-top: 90px !important; }

//--------------------------------------------------------------------
//  bottom
//--------------------------------------------------------------------
.u-pb_0{ padding-bottom: 0px !important; }
.u-pb_5{ padding-bottom: 5px !important; }
.u-pb_10{ padding-bottom: 10px !important; }
.u-pb_15{ padding-bottom: 15px !important; }
.u-pb_20{ padding-bottom: 20px !important; }
.u-pb_25{ padding-bottom: 25px !important; }
.u-pb_30{ padding-bottom: 30px !important; }
.u-pb_35{ padding-bottom: 35px !important; }
.u-pb_40{ padding-bottom: 40px !important; }
.u-pb_45{ padding-bottom: 45px !important; }
.u-pb_50{ padding-bottom: 50px !important; }
.u-pb_60{ padding-bottom: 60px !important; }
.u-pb_70{ padding-bottom: 70px !important; }
.u-pb_80{ padding-bottom: 80px !important; }
.u-pb_90{ padding-bottom: 90px !important; }
