//------------------------------------------------------------------------------------------------
//
//    SASS設定用
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  sprite setting
//--------------------------------------------------------------------
$sprites: sprite-map("sprites/*.png", $spacing: 10px);
$sprites-img: sprite-url($sprites);

//--------------------------------------------------------------------
//  variables
//--------------------------------------------------------------------
$default-textSize: 12px;
$default-linkColor: #fff;

$wrapper-width: 1000px;