//------------------------------------------------------------------------------------------------
//
//  SASS設定用
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  Variables
//--------------------------------------------------------------------
$default-textSize: 12px;
$default-linkColor: #fff;

$wrapper-width: 1000px;