//------------------------------------------------------------------------------------------------
//
//  ユーティリティ
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------
//  Mixin - button
//--------------------------------------------------------------------------------------
@mixin button($padding, $bgColor, $radius, $blockFlag: false){
    @if $radius != 0 {
        @include border-radius($radius);
    }
    @if $bgColor != none{
        background-color: $bgColor;
    }
    @if $blockFlag != true{
        display: inline-block;
    }
    @if $blockFlag != 0px{
        padding: $padding;
    }
    line-height: 1;
}

//--------------------------------------------------------------------------------------
//  Mixin - CSSで作る矢印
//--------------------------------------------------------------------------------------
@mixin arrow($width: 20px, $height: 20px, $direction: up, $color: red){
    width: 0;
    height: 0;

    // Right
    @if $direction == "right"{
        border-top: $height/2 solid transparent;
        border-bottom: $height/2 solid transparent;
        border-left: $width solid $color;
    }

    // Left
    @if $direction == "left"{
        border-top: $height/2 solid transparent;
        border-bottom: $height/2 solid transparent;
        border-right: $width solid $color;
    }

    // Up
    @if $direction == "up"{
        border-left: $width/2 solid transparent;
        border-right: $width/2 solid transparent;
        border-bottom: $height solid $color;
    }

    // Down
    @if $direction == "down"{
        border-left: $width/2 solid transparent;
        border-right: $width/2 solid transparent;
        border-top: $height solid $color;
    }

}