{% block title -%}トップページ{% endblock -%}
{% extends "_layouts/default.njk" %}
{% block contents -%}
    {% include "_partials/header.njk" -%}
    <main class="l-main js-lazyload" role="main">
        <h1></h1>
        <p class="js-alert-test">ここはトップページです</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img data-src="http://s.yimg.jp/images/auc/pc/top/image/2.0.0/logo_yahuoku_01.png" alt="" width="268" height="60" id="anchor-logo">
    </main>
    {% include "_partials/footer.njk" -%}
{% endblock -%}
