<!DOCTYPE HTML>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8">

    <title>{% block title -%}{% endblock %}</title>

    <!--//////////////     viewport設定     //////////////-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--//////////////     検索エンジン向け設定     //////////////-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="Copyright" content="">

    <!--//////////////     Twitter Account設定     //////////////-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="**アカウント名**">

    <!--//////////////     OGP Metaタグ設定     //////////////-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="**サイトのURL**">
    <meta property="og:title" content="**タイトル**">
    <meta property="og:image" content="**使用する画像URL**">
    <meta property="og:description" content="**サイトの説明**">
    <meta property="og:site_name" content="**サイト名**">
    <meta property="og:locale" content="ja_JP">

    <!--//////////////     ホーム画面用アイコン     //////////////-->
    <link rel="apple-touch-icon" href="">

    <!--//////////////     モバイルChrome用カラー設定     //////////////-->
    <meta name="theme-color" content="#fafafa">

    <link rel="stylesheet" href="css/trunk-all.css">
</head>
<body>
    {% include "_settings/facebook-sdk.njk" -%}
    <div class="l-wrapper">
        {% block contents -%}{% endblock -%}
    </div>
    <script src="js/script.min.js" async defer></script>
    {% include "_settings/analytics.njk" -%}
</body>
</html>
