<div class="l-drawer-bg js-drawer-hide"></div>
<div class="l-drawer modi-left">
    <a href="#" class="drawer-close js-drawer-hide">X</a>
    <ul class="drawer-list">
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
        <li>aaaaa</li>
    </ul>
</div>
