{% block title -%}トップページ{% endblock -%}
{% extends "html/_layouts/default.njk" %}
{% block contents -%}
    {% include "html/_partials/header.njk" -%}
    <div class="modal-default js-modal-wrapper">
        <div class="background js-modal-close" data-modal-target=".js-modal-wrapper"></div>
        <div class="box-default">aa</div>
    </div>
    <main class="l-main js-lazyload" role="main">
        {% include "html/_partials/breadcrumb.njk" -%}
        {% include "html/_partials/contents-area.njk" -%}
        <a href="#" class="js-modal-open" data-modal-target=".js-modal-wrapper">open</a>
        <a href="#" class="js-drawer-show">drawer open</a>
        <p class="js-alert-test">ここはトップページです</p>
        <img src="img/test.jpg" alt="">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>
    {% include "html/_partials/footer.njk" -%}
{% endblock -%}
