/*------------------------------------------------------------------------------------------------

  フォームパーツ

------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------
  focus設定
--------------------------------------------------------------------------------------*/
input:focus,
textarea:focus{
  outline: 0 none;
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(87, 180, 250, 0.6));
  border-color: #52a8ec;
  border-color: rgba(82, 168, 236, 0.8);  
}

/*--------------------------------------------------------------------------------------
  プレイスホルダー設定
--------------------------------------------------------------------------------------*/
.is-placeholder{
    color: #AAA;
}

:-ms-input-placeholder{
    color: #AAA;
}

:-webkit-input-placeholder{
    color: #AAA;
}

:-moz-placeholder{
    color: #AAA;
}

/*--------------------------------------------------------------------------------------
  ### 汎用テキストボックス
  ```
  <input type="text" class="form_textInput" placeholder="プレイスホルダー">
  ```

  ### 汎用テキストボックス（エラー時）  
  ```
  <input type="text" class="form_textInput is-error" placeholder="プレイスホルダー">
  ```
--------------------------------------------------------------------------------------*/
.form_textInput{
    background-color: #fff;
    @include border-radius(3px);
    border: 1px solid #ccc;
    padding: 8px 10px;
    
    &.is-error{
      border-color: #ea1717;
    }
}