/*------------------------------------------------------------------------------------------------

  ブラウザサポート

------------------------------------------------------------------------------------------------*/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-mozilla: false;

/*------------------------------------------------------------------------------------------------

  Colors

------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------
  Monochrome
--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------
  Basic Colors
--------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------

  Mixin

------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------
  radius
--------------------------------------------------------------------------------------*/
$radius_btn: 5px;
$radius_btn_modi: 3px;

/*--------------------------------------------------------------------------------------
  Mixin - button
--------------------------------------------------------------------------------------*/
@mixin button($padding, $color, $radius){
  display: inline-block;
  background-color: $color;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  padding: $padding;
}