//------------------------------------------------------------------------------------------------
//
//  margin
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  top
//--------------------------------------------------------------------
.u-margin-t_0{ margin-top: 0px !important; }
.u-margin-t_5{ margin-top: 5px !important; }
.u-margin-t_10{ margin-top: 10px !important; }
.u-margin-t_15{ margin-top: 15px !important; }
.u-margin-t_20{ margin-top: 20px !important; }
.u-margin-t_25{ margin-top: 25px !important; }
.u-margin-t_30{ margin-top: 30px !important; }
.u-margin-t_35{ margin-top: 35px !important; }
.u-margin-t_40{ margin-top: 40px !important; }
.u-margin-t_45{ margin-top: 45px !important; }
.u-margin-t_50{ margin-top: 50px !important; }
.u-margin-t_60{ margin-top: 60px !important; }
.u-margin-t_70{ margin-top: 70px !important; }
.u-margin-t_80{ margin-top: 80px !important; }
.u-margin-t_90{ margin-top: 90px !important; }

//--------------------------------------------------------------------
//  bottom
//--------------------------------------------------------------------
.u-margin-b_0{ margin-bottom: 0px !important; }
.u-margin-b_5{ margin-bottom: 5px !important; }
.u-margin-b_10{ margin-bottom: 10px !important; }
.u-margin-b_15{ margin-bottom: 15px !important; }
.u-margin-b_20{ margin-bottom: 20px !important; }
.u-margin-b_25{ margin-bottom: 25px !important; }
.u-margin-b_30{ margin-bottom: 30px !important; }
.u-margin-b_35{ margin-bottom: 35px !important; }
.u-margin-b_40{ margin-bottom: 40px !important; }
.u-margin-b_45{ margin-bottom: 45px !important; }
.u-margin-b_50{ margin-bottom: 50px !important; }
.u-margin-b_60{ margin-bottom: 60px !important; }
.u-margin-b_70{ margin-bottom: 70px !important; }
.u-margin-b_80{ margin-bottom: 80px !important; }
.u-margin-b_90{ margin-bottom: 90px !important; }