//------------------------------------------------------------------------------------------------
//
//  padding
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  top
//--------------------------------------------------------------------
.u-padding-t_0{ padding-top: 0px !important; }
.u-padding-t_5{ padding-top: 5px !important; }
.u-padding-t_10{ padding-top: 10px !important; }
.u-padding-t_15{ padding-top: 15px !important; }
.u-padding-t_20{ padding-top: 20px !important; }
.u-padding-t_25{ padding-top: 25px !important; }
.u-padding-t_30{ padding-top: 30px !important; }
.u-padding-t_35{ padding-top: 35px !important; }
.u-padding-t_40{ padding-top: 40px !important; }
.u-padding-t_45{ padding-top: 45px !important; }
.u-padding-t_50{ padding-top: 50px !important; }
.u-padding-t_60{ padding-top: 60px !important; }
.u-padding-t_70{ padding-top: 70px !important; }
.u-padding-t_80{ padding-top: 80px !important; }
.u-padding-t_90{ padding-top: 90px !important; }

//--------------------------------------------------------------------
//  bottom
//--------------------------------------------------------------------
.u-padding-b_0{ padding-bottom: 0px !important; }
.u-padding-b_5{ padding-bottom: 5px !important; }
.u-padding-b_10{ padding-bottom: 10px !important; }
.u-padding-b_15{ padding-bottom: 15px !important; }
.u-padding-b_20{ padding-bottom: 20px !important; }
.u-padding-b_25{ padding-bottom: 25px !important; }
.u-padding-b_30{ padding-bottom: 30px !important; }
.u-padding-b_35{ padding-bottom: 35px !important; }
.u-padding-b_40{ padding-bottom: 40px !important; }
.u-padding-b_45{ padding-bottom: 45px !important; }
.u-padding-b_50{ padding-bottom: 50px !important; }
.u-padding-b_60{ padding-bottom: 60px !important; }
.u-padding-b_70{ padding-bottom: 70px !important; }
.u-padding-b_80{ padding-bottom: 80px !important; }
.u-padding-b_90{ padding-bottom: 90px !important; }
