//--------------------------------------------------------------------------------------------------
//
//  ラベル系
//
//--------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  汎用ラベル
//--------------------------------------------------------------------
// .label{
//
// }