//--------------------------------------------------------------------------------------------------
//
//  ボタン系
//
//--------------------------------------------------------------------------------------------------/*

//--------------------------------------------------------------------
//  汎用ボタン
//--------------------------------------------------------------------
// .button{
// 
// }

//--------------------------------------------------------------------
//  スマートフォン版への誘導ボタン
//--------------------------------------------------------------------
.button-smartphone{
    @include box-sizing(border-box);
    @include border-radius(12px);
    @include background-image(linear-gradient(top, #b6b4b4 0%,#a4a2a2 100%));
    @include text-shadow(0 -2px 0 rgba(0, 0, 0, 0.3));
    position: relative;
    display: block;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 1.5;
    padding: 0.5em 0 0.48em;
        
    &:hover{
        @include background-image(linear-gradient(top, #918f8f 0%, #b0b0b0 100%));
    }

    &:before {
        @include opacity(0.5);
        @include border-radius(12px);            
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        border-top: #fff 2px solid;
    }
}