//------------------------------------------------------------------------------------------------
//
//  ヘルパー
//  他のクラスと組み合わせてページで使う
//
//------------------------------------------------------------------------------------------------

//------------------------------------------------------------------
//  clearfix
//------------------------------------------------------------------
.clearfix{    
    &:after{
        content: ""; 
        display: block; 
        clear: both;        
    }
}

//--------------------------------------------------------------------
//  削除系
//--------------------------------------------------------------------
// borderを削除
.hl-del_bt{ border-top: none !important; }
.hl-del_bb{ border-bottom: none !important; }

// marginを削除
.hl-del_mt{ margin-top: 0 !important; }
.hl-del_mr{ margin-right: 0 !important; }
.hl-del_mb{ margin-bottom: 0 !important; }
.hl-del_ml{ margin-left: 0 !important; }

// paddingを削除
.hl-del_pt{ padding-top: 0 !important; }
.hl-del_pr{ padding-right: 0 !important; }
.hl-del_pb{ padding-bottom: 0 !important; }
.hl-del_pl{ padding-left: 0 !important; }


//--------------------------------------------------------------------
//  追加系
//--------------------------------------------------------------------
// padding
.hl-add_pt_8{ padding-top: 8px !important; }
.hl-add_pt_10{ padding-top: 10px !important; }
.hl-add_pt_11{ padding-top: 11px !important; }
.hl-add_pt_14{ padding-top: 14px !important; }
.hl-add_pt_17{ padding-top: 17px !important; }

.hl-add_pb_8{ padding-bottom: 8px !important; }
.hl-add_pb_10{ padding-bottom: 10px !important; }
.hl-add_pb_11{ padding-bottom: 11px !important; }
.hl-add_pb_12{ padding-bottom: 12px !important; }
.hl-add_pb_17{ padding-bottom: 17px !important; }
.hl-add_pb_20{ padding-bottom: 20px !important; }

// margin
.hl-add_mt_4{ margin-top: 4px !important; }
.hl-add_mt_6{ margin-top: 6px !important; }
.hl-add_mt_8{ margin-top: 8px !important; }
.hl-add_mt_9{ margin-top: 9px !important; }
.hl-add_mt_10{ margin-top: 10px !important; }
.hl-add_mt_14{ margin-top: 14px !important; }
.hl-add_mt_16{ margin-top: 16px !important; }
.hl-add_mt_20{ margin-top: 20px !important; }

.hl-add_mb_3{ margin-bottom: 3px !important; }
.hl-add_mb_4{ margin-bottom: 4px !important; }
.hl-add_mb_5{ margin-bottom: 5px !important; }
.hl-add_mb_6{ margin-bottom: 6px !important; }
.hl-add_mb_8{ margin-bottom: 8px !important; }
.hl-add_mb_10{ margin-bottom: 10px !important; }
.hl-add_mb_14{ margin-bottom: 14px !important; }
.hl-add_mb_16{ margin-bottom: 16px !important; }
.hl-add_mb_18{ margin-bottom: 18px !important; }
.hl-add_mb_20{ margin-bottom: 20px !important; }
.hl-add_mb_30{ margin-bottom: 30px !important; }
.hl-add_mb_40{ margin-bottom: 40px !important; }

//--------------------------------------------------------------------
//  文章スタイルを有効化する
//--------------------------------------------------------------------
.is-enable_text_style{

    h1{
        font-weight: bold;
        margin: 0.67em 0;
    }

    h2{
        font-weight: bold;
        margin: 0.83em 0;
    }

    h3{
        font-weight: bold;
        margin: 1em 0;
    }

    h4{
        font-weight: bold;
        margin: 1.33em 0;
    }

    h5{
        font-weight: bold;
        margin: 1.67em 0;
    }

    h6{
        font-weight: bold;
        margin: 2.33em 0;
    }

    ul{
        list-style-type: disc;
        margin: 1em -0px;
        padding-left: 40px;
    }

    blockquote{
        border-left: 5px solid #8f8781;
        margin: 1em 0;
        padding: 0.9em 20px;
        
        > p{
            margin-bottom: 0.8em;          
        }

        > small{
            display: block;
            color: #999999;
        }
    }
    
}